.main-wrap-2 {
  max-width: 1200px;
  margin: auto;
  height: 300px;
}
.inner-content {
  padding-top: 70px;
}
.mat-form-field-1 {
  width: 82%;
  height: 70px;
  color: rgb(181, 180, 180);
}
.mat-form-field {
  height: 60px;
  width: 15%;
}
.mat-input-element {
  color: white;
}
.mat-form-field-1 .mat-input-element {
  color: white;
}
.mat-form-field-1 .mat-input-element::placeholder {
  color: gray;
}
#mySelectId1,
#mySelectId2 {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  padding-left: 10px;
}
.button-text {
  margin: 0 10px;
  color: white;
}
.first-form {
  width: 100%;
  margin: auto;
}
.reset-button {
  color: white;
  background-color: black;
  border: 2px solid white;
  margin: 20px 10px;
  width: 15%;
}
.reset-button:hover {
  background-color: #333;
}
p {
  color: white;
  font-family: Legend, serif;
}
.btn-calc {
  margin: 0 -10px;
}
