<header>
    <div class="main-wrap">
        <div class="title"><p>Currency Converter</p></div>
        <div class="exchange-rate">
            <div class="rate-tile">Exchange Rate:</div>
           <div class="currency">
            <div class="for-usd">USD: {{usd | number:'1.0-2'}} <span class="detailed-currency">({{usd}})</span></div>
            <div class="for-eur">EUR: {{eur | number:'1.0-2'}} <span class="detailed-currency">({{eur}})</span></div>
           </div>
        </div>
    </div>
</header>